html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 4rem;
}

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.entrada-blog a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

/** CODIGO AQUI **/

@media (min-width: 768px){
    .dos-columnas{
        display: flex;
        justify-content: space-between;/* lleva un elemento a la izquierda y el otro a la derecha*/
    }
    .entrada-blog{
        flex-basis: calc(50% - 1rem); /* calculael 50% para cada parte y le resta un rem no funciona sin el justify-content: space-between */
    }
    
}
